<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}">MK Blog</a>
    </nav>

    <div class="container mt-4">
        <h2>{{ post.title }}</h2>
        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid">
        <p>{{ post.created_at }}</p>

        <div class="comments">
            <h6>Comments</h6>
            <ul class="comment-list">
                {% for comment in comments %}
                <li>{{ comment.author }}: {{ comment.text }}</li>
                {% endfor %}
            </ul>
            <form method="post">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button type="submit" class="btn btn-primary mt-2">Add Comment</button>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
